
/* font-family: poppins */
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

/* font-family: PT Sans */
@font-face {
    font-family: PT_Sans;
    src: url(../fonts/PT_Sans/PTSans-Regular.ttf);
}

/* font-family: Quicksand */
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand/static/Quicksand-Regular.ttf);
}

/* font-family: Ubuntu */
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
}