@import url(../css/fonts.css);

html, body{
    margin:0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* ----------- Variables ----------- */
:root{

    /* Colour Palette */
    --Deep_Space_Sparkle: #586F6B;
    --Xanadu: #7F9183;
    --Ash_Gray: #B8B8AA;
    --Pale_Silver: #CFC0BD;
    --Timberwolf: #DDD5D0;

    /* Font Family */
    --Ubuntu: 'Ubuntu', sans-serif;
    --Poppins: 'Poppins', sans-serif;
    --PT_Sans: 'PTSans-Regular', sans-serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Yaldevi: 'Yaldevi', sans-serif;
}
/* ------------x Variables x--------- */


/* ------ Global Classes ------ */

a{
    text-decoration: none;
    color: white;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


h3{
    font-family: var(--Poppins);
    font-size: 1.3rem;
}

h1{
    font-family: var(--Ubuntu);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Quicksand);
}

p{
    font-family: var(--Yaldevi);
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Yaldevi);
    cursor: pointer;
    
}

span{
    font-family: var(--Poppins);
}

.container{
    margin: 0 5vw;
}

.title-text{
    padding: 0 2rem;
}

/* ------x Global Classes x------ */

.nav{
    background-color: rgb(14, 14, 14);
    text-align: center;
    justify-content: center;
    height: 0rem;
    min-height: 7vh;
    margin-top: 0;
}

.nav .nav-brand a{
    font-family: var(--Ubuntu);
    color: white;
    font-size: 1.6rem;
    padding: 1rem;
    display: block;
}


main {
    background-image: url(../assets/Background-image.png), url(../assets/Background-image-2.png);
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
}

/* header */
.header{
    color: white;
    padding: 15rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20rem;
}
.header .header-img img{
    height: 250px;
    width: 250px;
    border-radius: 10rem;
}
/* header */

/* container header */

.container-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container .container-header p{
    font-size: 2rem;
}

.container-header img{
    max-width: 90vw;
    height: auto;
}

/* x container header x */


/* carousel */

/* carousel-card */
main .crsl-acc .crsl-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    background-color: white;
}

/* carousel header */
main .crsl-acc .crsl-header{
    display: block;
    position: relative; 
    margin: 0 auto;
}

main .crsl-acc .crsl-header .cover{
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

main .crsl-acc .crsl-header .cover img{
    max-width: 100%;
    z-index: 1;
}

main .crsl-acc .crsl-header .profile{
    display: block;
    position: relative;
    height: 100%;
    width: 50%;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

main .crsl-acc .crsl-header .profile img{
    max-width: 100%;
    z-index: 999;
    border-radius: 10rem;
    border: white solid 3px;
}

main .crsl-acc .crsl-content .crsl-body{
    background-color: white;
    padding-bottom: 2rem;
}

/* x carousel x */

/* footer */
footer .footer{
    height: 100%;
    background-color: rgb(14, 14, 14);
    position: relative;
}

footer .footer .container{
    display: grid;
    grid-template-columns: 1fr;
}

footer .footer .container h2{
    color: white;
}

footer .footer .container{
    color: grey;
}

footer .footer .rights{
    justify-content: center;
    font-family: var(--PT_Sans);
}

footer .footer .rights a{
    font-family: var(--Ubuntu);
    color: white;
}

/* responsive */

@media only screen and (max-width:750px){
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .body-sec{
        margin-top: 13rem;
    }


    main .container .container-header{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        text-align: center;
    }
}


@media only screen and (max-width: 520px){
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }
    .body-sec{
        margin-top: 10rem;
    }

    main .container .container-header{
        grid-template-columns: repeat(auto, 1fr);
        justify-content: center;
        text-align: center;
    }

    main .container .container-header .ch-text p{
        font-size: 1em;
    }
}
/* responsive */